service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read;
      allow write: if request.auth.uid == "eEQt6AowUESKCc3wN3XjRWV6SQj2";
    }
  }
}